<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Health Tracker</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="container">
		<section id="health-tracker">
			<header class="header">
				<h1>Health Tracker</h1>
				<input type="text" id="search-bar" placeholder="Search for foods and drinks..." autofocus>
				<button id="search-btn">Search</button>
			</header>
			<section id="results">
				<table class="search-results">

				</table>
			</section>
			<section id="user-list">
				<ul class="user-select">

				</ul>
			</section>
		</section>
		<footer id="footer"></footer>
	</div>

	<!-- search results template -->
	<script type="text/template" id="search-results-template">
		<tr>
				<td><%= name %></td>
				<td><%= brand %></td>
				<td><%= calories %></td>
				<td><input type="checkbox"></td>

		</tr>
	</script>

	<!-- user select template -->
	<script type="text/template" id="user-select-template">
			<li class="select-li">
				<label><%= name %></label>
				<label><%= brand %></label>
				<label><%= calories %></label>
			</li>
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.2/backbone-min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
	<script src="js/app.js"></script>
</body>
</html>